
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    background: url('https://img.freepik.com/free-vector/fored-trading-mutual-funds-stock-market-background_1017-38016.jpg?size=626&ext=jpg') no-repeat;
    background-size: cover; 
}

h1 {
    color: #fff;
    margin-top: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

p {
    color: #fff;
    margin-bottom: 15px;
}

.file-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

input[type="file"] {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.bottom-button {
    margin-top: 20px;
}

a {
    color: whitesmoke;
    font-weight: bold;
}

.disclaimer {
   
    font-style: italic;
    color: #888;
    text-align: center;
    margin-top: 30px;
      
}